@import "tailwindcss";



input::placeholder{
    color: brown;
}
input::selection{
    border-color: rgb(9, 9, 9);
    
}

@utility @import "tailwindcss";



input::placeholder{
    color: brown;
}
input::selection{
    border-color: rgb(9, 9, 9);
    
}

