@import "tailwindcss";

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
 
  
}


input::placeholder{
    color: brown;
}
input::selection{
    border-color: rgb(9, 9, 9);
    
}

@media (hover: hover) {
  .hover:underline:hover {
    text-decoration: underline;
  }
}
